body {
  background-color: #f0f0f0;
  background-image: url(./oce.avif);
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
  color: #eff3f0f1;
}

.sections {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.Form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.Form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

input[type="submit"]:active {
  background-color: #0ba4eb;
}

input[type="submit"]:hover {
  background-color: #f30505;
}

input[type="button"]:hover {
  background-color: #e41919;
}