body {
    background-color: rgb(199, 180, 189);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    margin-bottom: 20px;
    color: rgb(128, 3, 121);
}

div {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    width: 100px;
}

.contact {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
}

input[type="button"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #e41919;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

